body {
    margin: 0;
    padding: 0;
    background-color: #CCCCCC;
}

section {
    padding: 20px;
}

article {
    margin-bottom: 20px;
}

header h1 {
    font-size: 28px;
}

header p {
    font-style: italic;
}

p {
    font-size: 24px;
}
